# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://***
STRIPE_SECRET_KEY=sk_test_***
STRIPE_WEBHOOK_SECRET=wsk_test_51TetRpJUizC1S74otPHvzvmGzD8ZEMbgBX7YwXjaS8DfJyjYiCavmITW6F21ZBlTnjcDUFctp68LcyaQ9xheaFxx00malNyOQo
BASE_URL=http://localhost:3000
AUTH_SECRET=***
NEXT_PUBLIC_SUPABASE_URL=https://eakiuxrwhptmzcirkiry.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1qYt3tBAkNGbeY0y8Ksj4w_PCvQ6gwi